# pip install --upgrade --force-reinstall -r requirements.txt
oggm @ git+https://github.com/OGGM/oggm.git
# toDo: The IGM netcdf4 version == 1.6 breaks installation
#       If just using the installation from OGGM netcdf4 version == 1.7.4 everything works fine...
igm-model @ git+https://github.com/instructed-glacier-model/igm.git
# tables

