# GitHub package pinned to commit
oggm @ git+https://github.com/OGGM/oggm.git@bba6e5f243828ab8d663aa33d43ca2cf2b3b5b8a
igm-model @ git+https://github.com/instructed-glacier-model/igm.git@9da9c3851ab5fab27fd520b112370f5ab26d135d
tables

